:root {
    --primary-color: hsl(163, 72%, 41%);
    --primary-color-2: hsl(356, 69%, 56%);

    --footer: hsl(0, 0%, 0%);
    --background: hsl(0, 0%, 100%);
    --top-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --h1-color: hsl(230, 17%, 14%);
    --text-color: hsl(228, 12%, 44%);
}

[data-theme="dark"] {
    --footer: hsl(0, 0%, 100%);
    --background: hsl(230, 17%, 14%);
    --top-bg: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --h1-color: hsl(228, 34%, 66%);
    --text-color: hsl(0, 0%, 100%);
}

html * {
    font-size: 16px !important;
}

body {
    font-family: inter, sans-serif;
    background: var(--background);
}

svg {
    width: 20px;
    height: 20px;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem !important;
    color: var(--h1-color);

}

p,
span {
    color: var(--text-color);
    font-weight: 700;

}

header {
    background: var(--top-bg);
    height: 35vh;
}

.header {
    p {
        position: relative;
        top: -24px;
        color: var(--text-color);
        font-weight: 700;
    }

}

.r {
    color: var(--primary-color-2) !important;
}

main {
    position: relative;
    top: -55px;
}

.container {



    .divider {
        height: 1px;
        overflow: hidden;
        background-color: #e0e0e0;
        position: relative;
        top: -25px;
    }

    .modeSwitch {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .switch {
            position: relative;
            top: -26px;

            & label {
                & input[type=checkbox]:checked+.lever {
                    background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
                }

                .lever {

                    width: 60px;
                    height: 30px;
                    background: hsl(230, 22%, 74%);

                    &::before,
                    &::after {
                        width: 20px;
                        height: 20px;
                        top: 3.9px;
                        left: 5px;
                    }
                }
            }


            // .switch label 
        }
    }
}

.switch label input[type=checkbox]:checked+.lever:before,
.switch label input[type=checkbox]:checked+.lever:after {
    left: 34px;
}

.container {
    overflow: hidden;
    width: 90%;

    &__box {
        height: 230px;
        background: var(--card-bg);
        margin: 10px;
        border-radius: 5px;
        padding-top: 10px;
        border-top: 6px solid;
        border-image-slice: 1;

        // border-top: 4px solid red;
        &.f {
            border-color: hsl(208, 92%, 53%);
        }

        &.t {
            border-color: hsl(203, 89%, 53%);

        }

        &.i {
            // linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
            border-top: 5px solid;

            border-image-source: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));

        }

        &.y {
            border-color: hsl(348, 97%, 39%);
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 25px;
        }

        .n {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            span {
                font-weight: 700;
                @extend .n;
                position: relative;
                top: -20px;
                flex-direction: row;
                color: var(--primary-color);

                img {
                    padding-right: 3px;
                }


            }


            h1 {
                font-size: 3.20rem !important;
                line-height: 50%;
            }

            p {
                position: relative;
                top: -25px;
                letter-spacing: 5px;
                text-transform: uppercase;

                // Some Boolean Expression to check 
            }
        }

        .m {
            padding-right: 10px;
            display: flex;
            align-items: center;
        }
    }

}

.two {
    .container__box {
        border-radius: 0px;
        height: 125px;
        border: transparent;

        .view {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px 20px;
        }

        svg {
            position: relative;
            top: 18px;
            fill: hsl(348, 97%, 39%);
        }
    }

    .ndown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        h1 {
            font-weight: 700;
            font-size: 2.1rem !important;
            line-height: 0%;
            margin: 0px;
            padding-left: 10px;
        }

        span {
            padding-right: 20px;
            position: relative;
            top: 5px;
            align-self: flex-end !important;
            color: var(--primary-color);

        }

        img {
            position: relative;
            top: -3px;
        }
    }

    .r {
        color: var(--primary-color-2);

    }
}

.p {
    font-size: 1.5rem !important;
    position: relative;
    left: 25px;
}

footer {
    color: var(--footer);
}

// Media Query
@media screen and (min-width:1000px) {


    main {
        position: relative;
        top: -120px;
    }

    h1 {
        font-size: 1.9rem !important;
    }

    .modeSwitch {
        justify-content: flex-end !important;
        position: relative;
        top: -73px;
    }
}

// Small Screeen
@media screen and (max-width:320px) {
    main{
        top: -50px ;
    }
}

// Media Query

#loadOverlay{display: none;}