:root {
    --primary-color: hsl(163, 72%, 41%);
    --primary-color-2: hsl(356, 69%, 56%);
}

html * {
    font-size: 16px !important;
}

body {
    font-family: inter, sans-serif;
}

svg {
    width: 20px;
    height: 20px;
}

h1 {
    font-weight: 700;
}

.header {

    p {
        position: relative;
        top: -21px;
    }

}

.container {



    .divider {
        height: 2px;
        overflow: hidden;
        background-color: #e0e0e0;
        position: relative;
        top: -25px;
    }

    .modeSwitch {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .switch {
            position: relative;
            top: -26px;

            & label {
                .lever {

                    width: 60px;
                    height: 30px;

                    &::before,
                    &::after {
                        width: 20px;
                        height: 20px;
                        top: 3.9px;
                        left: 5px;
                    }
                }
            }

        }
    }
}

.switch label input[type=checkbox]:checked+.lever:before,
.switch label input[type=checkbox]:checked+.lever:after {
    left: 34px;
}

.container {
    overflow: hidden;
    width: 90%;

    &__box {
        height: 230px;
        background: lightblue;
        margin: 10px;
        border-radius: 10px;
        padding-top: 10px;

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 25px;
        }

        .n {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                @extend .n;
                position: relative;
                top: -20px;
                flex-direction: row;

                img {
                    padding-right: 3px;
                }
            }

            h1 {
                font-size: 3.20rem !important;
                line-height: 50%;
            }

            p {
                position: relative;
                top: -25px;
                letter-spacing: 5px;
                // font-size: 1.5rem !important;
                text-transform: uppercase;
            }
        }

        .m {
            padding-right: 10px;
            display: flex;
            align-items: center;
        }
    }


}

.two {
    .container__box {
        border-radius: 0px;
        height: 125px;


        .view {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px 20px;
        }

        svg {
            position: relative;
            top: 18px;
        }
    }

    .ndown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        h1 {
            font-weight: 700;
            font-size: 2.1rem !important;
            line-height: 0%;
            margin: 0px;
            padding-left: 10px;
        }

        span {
            padding-right: 20px;
            position: relative;
            top: 5px;
            align-self: flex-end !important;
        }

        img {
            position: relative;
            top: -3px;
        }
    }
}

.p {
    position: relative;
    left: 25px;
}